*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'montseratt', sans-serif;
}
.background {
    background-image: url("./../img/weather.jpg");
    background-size: cover;
    background-position: bottom ;
    transition: 0.4 ease-in;
}
/* .background.warm {
    background-image: url("./../img/warm.jpg");
    background-size: cover;
    background-position: bottom ;
    transition: 0.4 ease;
} */
main {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
    padding: 25px;
}

.heading {
    text-align: center;
    font-weight: 900;
}
.search-Box {
    width: 100%;
    margin: 0 0 20px;
}

.search-Box .search-bar {
    display: block;
    width: 100%;
    padding: 15px;

    appearance: none;
    background:none;
    
    outline: none;

    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0px;
    
    font-size: 20px;
}
.search-Box .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.8);
}
